@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:ital,wght@0,400;1,100;1,800&display=swap");
@-webkit-keyframes jump {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translate(-50%, -50px);
            transform: translate(-50%, -50px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translate(-50%, -50px);
            transform: translate(-50%, -50px);
  }
}
@keyframes jump {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translate(-50%, -50px);
            transform: translate(-50%, -50px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translate(-50%, -50px);
            transform: translate(-50%, -50px);
  }
}

nav.navUp {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: lang;
  position: relative;
  background-color: white;
  max-width: 1700px;
}

nav.navUp div.burger {
  position: absolute;
  font-size: 28px;
  line-height: 35px;
  color: #5b4288;
  top: 0px;
  left: 10px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

nav.navUp div.burger i.fas {
  display: none;
}

nav.navUp .burger:hover {
  cursor: pointer;
}

nav.navUp img {
  height: 28px;
  display: inline-block;
  width: 28px;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 1200px) {
  nav.navUp div.burger i.fas.showNav {
    display: block;
  }
  nav.navUp div.burger i.fas {
    display: none;
  }
}

@media (max-width: 300px) {
  nav.navUp {
    max-width: 290px;
  }
}

header {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: baner;
  position: relative;
  background-color: #113c49;
  background: linear-gradient(135deg, #1abc9c 0%, #8e44ad 100%);
  height: 95vh;
}

header button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 252px;
  height: 252px;
  background-color: white;
  color: #5b4288;
  border: none;
  border-radius: 50%;
  font-size: 18.66667px;
  cursor: pointer;
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header button img {
  margin-top: 20px;
}

@media (max-width: 500px) {
  header button {
    width: 140px;
    height: 140px;
    font-size: 15px;
  }
  header button img {
    margin-top: 10px;
  }
}

@media (min-width: 300px) and (orientation: landscape) and (max-width: 800px) {
  header button {
    top: 25%;
    width: 140px;
    height: 140px;
    font-size: 15px;
  }
  header button img {
    margin-top: 10px;
  }
}

@media (min-width: 800px) and (orientation: landscape) and (max-width: 1000px) {
  header button {
    top: 25%;
  }
}

@media (max-width: 300px) {
  header {
    max-width: 290px;
  }
}

nav.nav-menu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: navigation;
  background-color: #1eb79c;
  margin-right: 10px;
  position: relative;
}

nav.nav-menu div {
  position: fixed;
}

nav.nav-menu div ul {
  position: absolute;
  top: 100px;
  left: 0;
  font-size: 28px;
  padding-left: 20px;
  list-style-type: none;
}

nav.nav-menu div ul li {
  max-width: 300px;
  margin-top: 30px;
}

nav.nav-menu div ul li a {
  text-decoration: none;
  color: white;
  opacity: 1;
}

nav.nav-menu div ul li a:hover {
  color: #5b4288;
}

nav.nav-menu div ul a.activeNav {
  color: #5b4288;
  border-bottom: 1px solid #5b4288;
}

@media (max-width: 1200px) {
  nav.nav-menu {
    position: absolute;
    top: 35px;
    left: -310px;
    width: 300px;
    height: 95vh;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    z-index: 1;
  }
  nav.nav-menu div {
    position: relative;
  }
  nav.nav-menu div ul {
    font-size: 20px;
  }
  nav.nav-menu.showNav {
    left: 0;
    opacity: 0.5;
  }
}

@media (min-width: 300px) and (orientation: landscape) and (max-width: 1000px) {
  nav.nav-menu.showNav div ul {
    top: 50px;
  }
  nav.nav-menu.showNav div ul li {
    margin-top: 15px;
  }
}

@media (min-width: 600px) and (orientation: landscape) and (max-height: 300px) {
  nav.nav-menu.showNav div ul {
    top: 10px;
  }
  nav.nav-menu.showNav div ul li {
    margin-top: 10px;
    font-size: 20px;
  }
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: page;
}

main .horizontal {
  border: none;
  height: 4px;
  border-bottom: 1px solid #1f1209;
  -webkit-box-shadow: rgba(64, 150, 162, 0.25) 0px 14px 28px, rgba(30, 183, 156, 0.22) 0px 10px 10px;
          box-shadow: rgba(64, 150, 162, 0.25) 0px 14px 28px, rgba(30, 183, 156, 0.22) 0px 10px 10px;
  width: 90%;
}

main section h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 800px) {
  main section h1 {
    font-size: 20px;
  }
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-top: 60px;
}

main section.about-me {
  min-height: 70vh;
}

main section.about-me article {
  max-width: 100%;
}

main section.about-me article div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main section.about-me article div.image img {
  display: block;
  width: 50%;
  max-height: 60%;
  border-radius: 50%;
  margin: 12% auto;
}

main section.about-me article div.about-me-txt {
  padding: 10px 20px;
  text-align: justify;
}

main section.about-me article div.about-me-txt p,
main section.about-me article div.about-me-txt ul {
  letter-spacing: 1px;
  line-height: 30px;
}

main section.about-me article div.about-me-txt p:first-of-type::first-letter,
main section.about-me article div.about-me-txt p:last-of-type::first-letter {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: #1eb79c;
  font-size: 45px;
}

@media (max-width: 980px) {
  main section.about-me article div.about-me-txt p,
  main section.about-me article div.about-me-txt ul {
    line-height: 30px;
    font-size: 15px;
  }
  main section.about-me article div.about-me-txt p li,
  main section.about-me article div.about-me-txt ul li {
    font-size: 15px;
  }
  main section.about-me article div.about-me-txt p:first-of-type::first-letter,
  main section.about-me article div.about-me-txt p:last-of-type::first-letter {
    font-size: 35px;
  }
}

@media (max-width: 700px) {
  main section.about-me article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.about-me article div.image {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  main section.about-me article div.image img {
    margin-top: 2%;
  }
}

@media (max-width: 500px) {
  main section.about-me article div.image img {
    max-width: 30%;
    max-height: 30%;
  }
  main section.about-me article div.about-me-txt p,
  main section.about-me article div.about-me-txt ul {
    line-height: none;
  }
  main section.about-me article div.about-me-txt p:first-of-type::first-letter,
  main section.about-me article div.about-me-txt p:last-of-type::first-letter {
    font-size: 25px;
  }
}

main section.projects .projects-contains {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

main section.projects .projects-contains div.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  background: linear-gradient(135deg, #1abc9c 0%, #8e44ad 100%);
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main section.projects .projects-contains div.project div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main section.projects .projects-contains div.project div.web img {
  max-width: 100%;
  min-height: 100%;
}

main section.projects .projects-contains div.project .about {
  color: white;
  padding: 10px 20px 20px 0;
  text-align: left;
}

main section.projects .projects-contains div.project .about a {
  text-decoration: none;
  color: white;
}

main section.projects .projects-contains div.project .about a:hover {
  color: #5b4288;
}

main section.projects .projects-contains div.project .about a h2 {
  font-size: 18px;
  border-bottom: 2px solid white;
  margin-bottom: 12px;
  padding-bottom: 6px;
  text-indent: 20px;
}

main section.projects .projects-contains div.project .about p {
  font-size: 12px;
  padding-left: 20px;
}

main section.projects .projects-contains div.project:nth-of-type(odd) {
  grid-column: 1 / -2;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

main section.projects .projects-contains div.project:nth-of-type(even) {
  grid-column: 2 / -1;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

main section.projects .projects-contains div.project.active:nth-of-type(odd),
main section.projects .projects-contains div.project.active:nth-of-type(even) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 980px) {
  main section.projects .projects-contains {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 30px;
  }
  main section.projects div.project.active:nth-of-type(odd),
  main section.projects div.project.active:nth-of-type(even) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media (max-width: 580px) {
  main section.projects .projects-contains div.project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.projects .projects-contains div.project div.web img {
    width: 100%;
  }
}

main section.skills {
  min-height: 60vh;
}

main section.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0px;
  padding: 0;
}

main section.skills ul li {
  display: inline-block;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-top: 80px;
  visibility: hidden;
}

main section.skills ul li img {
  width: 170px;
  height: 170px;
}

@media (max-width: 980px) {
  main section.skills ul li img {
    max-width: 140px;
    max-height: 140px;
  }
}

@media (max-width: 700px) {
  main section.skills ul li {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 500px) {
  main section.skills ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main section.experiences div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

main section.experiences div article.shrink {
  height: 250px;
}

main section.experiences div article.experience {
  max-width: 330px;
  border-radius: 10px;
  background-color: white;
  margin: 1%;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px;
  border: 5px inset #1eb79c;
  margin-bottom: 60px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

main section.experiences div article.experience h2,
main section.experiences div article.experience h3 {
  text-align: center;
  padding: 0 10px;
}

main section.experiences div article.experience h3 {
  vertical-align: middle;
}

main section.experiences div article.experience div.modal-wrap {
  display: none;
}

main section.experiences div article.experience:hover {
  background: linear-gradient(130deg, #113c49 0%, #1eb79c 100%);
  -webkit-box-shadow: none;
          box-shadow: none;
}

main section.experiences div article.experience:hover h2,
main section.experiences div article.experience:hover h3 {
  color: white;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

main section.experiences div .grow {
  min-height: 300px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: stretch;
  background: linear-gradient(130deg, #113c49 0%, #1eb79c 100%);
  -webkit-box-shadow: none;
          box-shadow: none;
}

main section.experiences div .grow h2,
main section.experiences div .grow h3 {
  color: white;
}

main section.experiences div .grow div.modal-active {
  display: block;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

main section.experiences div .grow div.modal-active ul {
  margin-top: 20px;
  padding: 20px;
}

main section.experiences div .grow div.modal-active ul li {
  color: white;
  margin-top: 10px;
  text-align: justify;
}

@media (max-width: 980px) {
  main section.experiences div,
  main section.experiences div article.experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.experiences div article.experience,
  main section.experiences div article.experience article.experience {
    max-width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 10px 30px;
  }
}

main section.contact {
  background-color: black;
  padding: 30px 20px;
}

main section.contact h1 {
  color: white;
}

main section.contact div.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 20px;
  margin: 0 auto;
}

main section.contact div.wrap form {
  margin-top: 10px;
}

main section.contact div.wrap form input,
main section.contact div.wrap form button,
main section.contact div.wrap form textarea {
  width: 95%;
  margin-bottom: 18px;
  font-size: 12px;
  padding: 5px;
}

main section.contact div.wrap form input {
  height: 36px;
}

main section.contact div.wrap form textarea {
  height: 120px;
}

main section.contact div.wrap form button {
  font-size: 14px;
  line-height: 40px;
  background-color: black;
  color: white;
  border: 2px solid white;
}

main section.contact div.wrap form button:hover {
  background-color: white;
  color: #1eb79c;
}

main section.contact div.wrap .socials {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  font-size: 0;
  padding-left: 10px;
}

main section.contact div.wrap .socials .social {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-line-pack: start;
      align-content: start;
}

main section.contact div.wrap .socials .social:hover {
  border-bottom: 2px solid white;
}

main section.contact div.wrap .socials .social:hover a {
  color: #1eb79c;
  letter-spacing: 4px;
}

main section.contact div.wrap .socials .social a {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  color: white;
  text-decoration: none;
  line-height: 72px;
  padding-left: 30px;
  font-size: 15px;
  letter-spacing: 2px;
}

@media (max-width: 700px) {
  main section.contact div.wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 400px) {
  main section.contact div.wrap {
    padding-top: 10px;
  }
  main section.contact div.wrap form input,
  main section.contact div.wrap form button,
  main section.contact div.wrap form textarea {
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 10px;
    padding: 5px;
  }
  main section.contact div.wrap form input {
    height: 30px;
  }
  main section.contact div.wrap .socials {
    padding-left: 0px;
  }
  main section.contact div.wrap .socials .social {
    padding: 8px 0;
    width: 100%;
  }
  main section.contact div.wrap .socials .social img {
    max-width: 50%;
    max-height: 50%;
  }
  main section.contact div.wrap .socials .social a {
    padding-left: 10px;
    font-size: 10px;
    letter-spacing: none;
  }
}

@media (max-width: 300px) {
  main section.contact div.wrap form input,
  main section.contact div.wrap form button,
  main section.contact div.wrap form textarea {
    max-width: 80%;
    margin: 10px 20px;
  }
  main section.contact div.wrap .socials .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80%;
    margin: 0 auto;
  }
  main section.contact div.wrap .socials .social img,
  main section.contact div.wrap .socials .social a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main section.contact div.wrap .socials .social img {
    max-width: 40px;
    max-height: 40px;
  }
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

footer div p {
  text-align: center;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body div.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: 35px auto 1fr 60px;
      grid-template-rows: 35px auto 1fr 60px;
      grid-template-areas: "lang lang" "navigation baner" "navigation page" "footer footer";
  max-width: 1700px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

@media (max-width: 1200px) {
  body div.container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */