@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:ital,wght@0,400;1,100;1,800&display=swap");
@-webkit-keyframes jump {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
@keyframes jump {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

nav.navUp {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: lang;
  position: relative;
  background-color: white;
}

nav.navUp img {
  height: 28px;
  width: 28px;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: baner;
  position: relative;
  background-color: #113c49;
  background: linear-gradient(135deg, #1abc9c 0%, #8e44ad 100%);
  height: 95vh;
}

header button {
  position: absolute;
  top: 50%;
  left: 42%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 252px;
  height: 252px;
  background-color: white;
  color: #5b4288;
  border: none;
  border-radius: 50%;
  font-size: 18.66667px;
  cursor: pointer;
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

header button img {
  margin-top: 20px;
}

header i {
  position: absolute;
  font-size: 112px;
  bottom: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
}

nav.nav-menu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: navigation;
  background-color: #1eb79c;
  margin-right: 10px;
  position: relative;
}

nav.nav-menu div {
  position: fixed;
}

nav.nav-menu div i.fa-bars,
nav.nav-menu div ul {
  position: absolute;
}

nav.nav-menu div i.fa-bars {
  font-size: 42px;
  color: white;
  top: 20px;
  left: 10px;
}

nav.nav-menu div ul {
  top: 100px;
  left: 0;
  font-size: 28px;
  padding-left: 20px;
  list-style-type: none;
}

nav.nav-menu div ul li {
  max-width: 300px;
  margin-top: 30px;
}

nav.nav-menu div ul li a {
  text-decoration: none;
  color: white;
  opacity: 1;
}

nav.nav-menu div ul li a.activeNav {
  color: #5b4288;
  border-bottom: 1px solid #5b4288;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: page;
}

main .horizontal {
  border: none;
  height: 4px;
  border-bottom: 1px solid #1f1209;
  -webkit-box-shadow: rgba(64, 150, 162, 0.25) 0px 14px 28px, rgba(30, 183, 156, 0.22) 0px 10px 10px;
          box-shadow: rgba(64, 150, 162, 0.25) 0px 14px 28px, rgba(30, 183, 156, 0.22) 0px 10px 10px;
  width: 90%;
}

main section h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-top: 60px;
}

main section.about-me {
  min-height: 95vh;
}

main section.about-me article {
  min-height: 90vh;
}

main section.about-me article div {
  width: 50%;
}

main section.about-me article div.image img {
  display: block;
  width: 50%;
  max-height: 40%;
  border-radius: 50%;
  margin: 20% auto;
}

main section.about-me article div.about-me-txt {
  padding: 50px;
  text-align: justify;
}

main section.about-me article div.about-me-txt p,
main section.about-me article div.about-me-txt ul {
  letter-spacing: 1px;
  line-height: 40px;
}

main section.about-me article div.about-me-txt p:first-of-type::first-letter,
main section.about-me article div.about-me-txt p:last-of-type::first-letter {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: #1eb79c;
  font-size: 45px;
}

main section.projects .projects-contains {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

main section.projects .projects-contains div.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  background: linear-gradient(135deg, #1abc9c 0%, #8e44ad 100%);
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main section.projects .projects-contains div.project div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main section.projects .projects-contains div.project img {
  min-width: 90%;
  max-height: 95%;
}

main section.projects .projects-contains div.project .about {
  color: white;
  padding: 10px 20px 20px 0;
  text-align: left;
}

main section.projects .projects-contains div.project .about h2 {
  font-size: 18px;
  border-bottom: 2px solid white;
  margin-bottom: 12px;
  padding-bottom: 6px;
  text-indent: 20px;
}

main section.projects .projects-contains div.project .about p {
  font-size: 12px;
  padding-left: 20px;
}

main section.projects .projects-contains div.project:nth-of-type(odd) {
  grid-column: 1 / -2;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

main section.projects .projects-contains div.project:nth-of-type(even) {
  grid-column: 2 / -1;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

main section.projects .projects-contains div.project.active:nth-of-type(odd),
main section.projects .projects-contains div.project.active:nth-of-type(even) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main section.skills {
  min-height: 80vh;
}

main section.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 90px;
}

main section.skills ul li {
  display: inline-block;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-top: 50px;
  visibility: hidden;
}

main section.experiences div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 350px;
}

main section.experiences div article.experience {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 5px inset #1eb79c;
  border-radius: 10px;
  margin-bottom: 60px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main section.experiences div article.experience h2,
main section.experiences div article.experience h3 {
  text-align: center;
  padding: 0 10px;
}

main section.experiences div article.experience h3 {
  vertical-align: middle;
}

main section.experiences div article.experience ul {
  display: none;
}

main section.contact {
  background-color: black;
  padding: 30px 20px;
}

main section.contact h1 {
  color: white;
}

main section.contact div.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 20px;
  margin: 0 auto;
}

main section.contact div.wrap form {
  margin-top: 10px;
}

main section.contact div.wrap form input,
main section.contact div.wrap form button,
main section.contact div.wrap form textarea {
  width: 95%;
  margin-bottom: 18px;
  font-size: 12px;
  padding: 5px;
}

main section.contact div.wrap form input {
  height: 36px;
}

main section.contact div.wrap form textarea {
  height: 120px;
}

main section.contact div.wrap form button {
  font-size: 14px;
  line-height: 40px;
  background-color: black;
  color: white;
  border: 2px solid white;
}

main section.contact div.wrap .socials {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  font-size: 0;
}

main section.contact div.wrap .socials .social {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-line-pack: start;
      align-content: start;
}

main section.contact div.wrap .socials .social a {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  color: white;
  text-decoration: none;
  line-height: 72px;
  padding-left: 30px;
  font-size: 15px;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

footer div p {
  text-align: center;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body div.pl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: 35px auto 1fr 60px;
      grid-template-rows: 35px auto 1fr 60px;
      grid-template-areas: "lang lang" "navigation baner" "navigation page" "footer footer";
  max-width: 1800px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */