header {
    grid-area: baner;
    position: relative;
    background-color: $color-main;
    background: $gradient;
    height: $height-img;
    button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $max-font*9;
        height: $max-font*9;
        background-color: $white;
        color: $black;
        border: none;
        border-radius: 50%;
        font-size: $max-font/1.5;
        cursor: pointer;
        @include animate;
        transform: translateX(-50%);
        img {
            margin-top: 20px;
        }
    }
    @media(max-width:500px) {
        button {
            width: $max-font*5;
            height: $max-font*5;
            font-size: $small-font*1.5;
            img {
                margin-top: 10px;
            }
        }
    }
    @media (min-width:300px) and (orientation: landscape) and (max-width:800px) {
        button {
            top: 25%;
            width: $max-font*5;
            height: $max-font*5;
            font-size: $small-font*1.5;
            img {
                margin-top: 10px;
            }
        }
    }
    @media (min-width:800px) and (orientation: landscape) and (max-width:1000px) {
        button {
            top: 25%;
        }
    }
}
@media(max-width:300px) {
    header {
        max-width: 290px;
    }
}