header {
    grid-area: baner;
    position: relative;
    background-color: $color-main;
    background: $gradient;
    height: $height-img;


    button {
        position: absolute;
        top: 50%;
        left: 42%;
        transform: translateX(-50%);
        width: $max-font*9;
        height: $max-font*9;
        background-color: $white;
        color: $black;
        border: none;
        border-radius: 50%;
        font-size: $max-font/1.5;
        cursor: pointer;
        @include animate;


        img {
            margin-top: 20px;
        }
    }

    i {
        position: absolute;
        font-size: $max-font*4;
        bottom: $max-font;
        left: 50%;
        transform: translateX(-50%);
        color: $white;


    }
}