main {
    grid-area: page;

    .horizontal {
        @include horizontal;
    }

    section h1 {
        @include heading;
    }

    article {
        @include flex;
        margin-top: 60px;
    }

    section.about-me {
        height: 95vh;

        article {
            max-height: 95vh;


            div {
                width: 50%;
            }

            div.image img {
                display: block;
                width: 50%;
                height: 55%;
                border-radius: 50%;
                margin: 20% auto;

            }

            div.about-me-txt {
                padding: $size-medium;
                text-align: justify;


                p,
                ul {
                    letter-spacing: 1px;
                    line-height: 40px;
                }

                p:first-of-type::first-letter,
                p:last-of-type::first-letter {
                    @include firstLetter;
                }
            }
        }
    }


    section.projects {
        min-height: 39vh;

        .projects-contains {
            @include flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 60px auto;

            div.project {
                display: flex;
                margin-top: 30px;
                border: 5px outset $teal;

                div {
                    flex-basis: 50%;
                }

                img {
                    width: 85%;
                }
            }
        }
    }

    section.skills {
        min-height: 49vh;

        ul {
            @include flex;
            align-content: stretch;
            flex-wrap: wrap;
            margin-top: 40px;


            li {
                display: inline-block;
                flex-basis: 33%;
                text-align: center;
                margin-top: 30px;
            }
        }
    }

    section.experience {
        h3 {
            font-size: 10px;
        }
    }

}