nav.nav-menu {
    grid-area: navigation;
    background-color: $teal;
    margin-right: 10px;
    position: relative;


    div {
        position: fixed;


        ul {
            position: absolute;
            top: 100px;
            left: 0;
            font-size: $max-font;
            padding-left: 20px;
            list-style-type: none;

            li {
                max-width: 300px;
                margin-top: 30px;

                a {
                    text-decoration: none;
                    color: $white;
                    opacity: 1;
                }

                a.activeNav {
                    color: $black;
                    border-bottom: 1px solid $black;
                }
            }

        }
    }
}


@media(max-width: 1100px) {

    nav.nav-menu {
        position: absolute;
        top: 35px;
        left: -310px;
        width: 300px;
        height: 95vh;
        transition: .3s linear;
        z-index: 1;

        div {
            position: relative;

            ul {
                font-size: $medium-font;
            }

        }
    }

    nav.nav-menu.showNav {
        left: 0;
        opacity: 0.5;


    }

}