nav.nav-menu {
    grid-area: navigation;
    background-color: $teal;
    // opacity: 0.4;
    margin-right: 10px;
    position: relative;


    div {
        position: fixed;

        div.burger,
        ul {
            position: absolute;
        }

        .burger {
            font-size: $max-font*1.5;
            color: $white;
            top: 20px;
            left: 10px;
            transition: .3s linear;

            .fas {

                display: none;
            }
        }
        .burger:hover {
            cursor: pointer;
        }
        ul {
            top: 100px;
            left: 0;
            font-size: $max-font;
            padding-left: 20px;
            list-style-type: none;
            li {
                max-width: 300px;
                margin-top: 30px;

                a {
                    text-decoration: none;
                    color: $white;
                    opacity: 1;
                }

                a.activeNav {
                    color: $black;
                    border-bottom: 1px solid $black;
                }
            }

        }
    }
}