nav.nav-menu {
    grid-area: navigation;
    background-color: $teal;
    // opacity: 0.4;
    margin-right: 10px;
    position: relative;


    div {
        position: fixed;

        i.fa-bars,
        ul {
            position: absolute;
        }

        i.fa-bars {
            font-size: $max-font*1.5;
            color: $white;

            top: 20px;
            left: 10px;

        }



        ul {


            top: 100px;
            left: 0;
            font-size: $max-font;
            padding-left: 20px;
            list-style-type: none;


            li {
                max-width: 300px;
                margin-top: 30px;

                a {
                    text-decoration: none;
                    color: $white;
                    opacity: 1;


                }

            }
        }
    }


}