@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:ital,wght@0,400;1,100;1,800&display=swap');

// size
$width-max-template:1700px;
$max-font:28px;
$size-medium:50px;
$height-img:95vh;



// colors
$color-main:rgb(17, 60, 73);
$color-light:rgb(122, 225, 243);
$black:rgb(91, 66, 136);
$white:white;
$teal:rgb(30, 183, 156);
$gradient:linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);



// fonts
$font-main:'Raleway',
sans-serif;
$font-letter:'Dancing Script',
cursive;