@import 'variables';
@import 'mixins';
@import 'navUp';
@import 'header';
@import 'nav';
@import 'main';
@import 'footer';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;




    div.container {
        @include grid-template;
        font-family: $font-main;
        overflow: hidden;
    }




}

@media(max-width:1100px) {
    body div.container {
        grid-template-columns: 1fr;
    }
}